@import url("styles.css");



/*
  Table
  https://codebeautify.org/html-table-generator
*/

table {
    border: 1px solid #b3adad;
    border-collapse: collapse;
    /* padding: 5px; */
    margin: 3em 0 5em 0;
}

table th {
    font-family: var(--hf01);
    border: 1px solid #b3adad;
    padding: 1em;
    background: #f0f0f0;
    color: #313030;
    text-align: left;
}

table td {
    border: 1px solid #b3adad;
    text-align: left;
    padding: 1em;
    background: #ffffff;
    color: #313030;
}

.total {
    /* background: #dfdfdf; */
    /* font-family: var(--hf01); */
    /* font-weight: bold; */
    border-top: 3px solid #b3adad;
}

