@import url("styles.css");

/* Global Resets and Base Styles */


/* Container Styles */
.container {
	max-width: 85vw;
}

/* .content {
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
} */

/* Section: Hero */
#hero3 {
	height: 3`5vh;
	width: 100%;
	z-index: 0;
	overflow: hidden;
	display: grid;
	place-items: center;
	background: transparent url(../media/dog-on-couch.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
}

#herocopy {
	font-family: 'Zodiak-Black', serif;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	color: #fdfdfd;
	font-size: clamp(2.3rem, 5vw, 3rem);
}

.footer {
	display: grid;
	place-items: center;
}

/* Typography - Font Clamp
	https://piccalil.li/tutorial/fluid-typography-with-css-clamp/
*/
h1,
h2,
h3,
p,
li,
blockquote,
th,
td {
	font-size: clamp(1rem, calc(1rem + 3vw), 1.3rem);
	max-width: 60ch;
	line-height: 1.7;
	font-family: var(--bfont01);
	padding-bottom: 0.5em;
}

h1,
h2,
h3 {
	font-family: 'Zodiak-Black', serif;
}

h1 {
	font-size: clamp(1.5rem, 5vw, 2.5rem);
}

h2 {
	font-size: clamp(1rem, 5vw, 1.8rem);
}

h3 {
	font-size: clamp(0.7rem, 5vw, 1.4rem);
	text-transform: capitalize;
}

/* Lists */
.sans {
	list-style: none;
}

.yellow {
	background-color: yellow;
}

.red {
	color: red;
}

/* Tables - https://codebeautify.org/html-table-generator */
table {
	border: 1px solid #b3adad;
	border-collapse: collapse;
	margin: 3em 0 5em 0;
}

table th {
	font-family: var(--hf01);
	border: 1px solid #b3adad;
	padding: 1em;
	background: #f0f0f0;
	color: #313030;
	text-align: left;
}

table td {
	border: 1px solid #b3adad;
	padding: 1em;
	background: #ffffff;
	color: #313030;
}

.total {
	border-top: 3px solid #b3adad;
}

/* Miscellaneous */
input[type="checkbox"]:checked+label {
	text-decoration: line-through;
	color: #888;
}
blockquote {
	border-left: 3px solid #d88d00;
	padding-left: 1em;
	color: #d88d00;
	background-color: #efefef;
	padding: 1em;
}