@font-face {
  font-family: 'Maragsa-Display';
  src: url('../fonts/Maragsa/Maragsa-Display.woff2') format('woff2'), url('../fonts/Maragsa/Maragsa-Display.woff') format('woff'), url('../fonts/Maragsa/Maragsâ-Display.otf') format('otf');
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}