/* 
I accomplished my goal, but I wonder if there's a better way to do this? 
~
Template: Practice UI 01a
colors: https://coolors.co/palettes/trending

*/

@import url('../css/boska.css');
@import url('../css/zodiak.css');
@import url('../css/marasga.css');
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  color: #777;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin-bottom: 4em;
}

.e-mail:before {
  content: attr(data-website) "\0040" attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
}

a,
 :visited {
  color: #ee6c4d;
  /* font-family: "Helvetica", sans-serif; */
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

a:hover {
  color: #78290f;
  transition: all 0.3s ease-in-out;
}

.navlink,
.navlink:visited {
  color: #000;
}

.highlight {
  background-color: #fee440;
  padding: 5px;
}

nav {
  width: 200px;
  height: 50px;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  /* box-shadow: 0 10px 40px rgba(0, 0, 0, 0.55); */
  /* Frosted glass effect, webkit only */
  /* background-color: rgba(239, 239, 239, 0.85); */
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  nav {
    -webkit-backdrop-filter: blur(.5rem);
    backdrop-filter: blur(.5rem);
    background-color: rgba(255, 255, 255, 0.5);
  }
}


/* 
    end frosted glass effect
    https://codepen.io/jsblaisdell/pen/PoPjLoP?editors=1100
*/

#hero {
  height: 80vh;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  background: transparent url(../media/yannis-h-uaPaEM7MiQQ-unsplash.jpg) no-repeat center bottom;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  place-items: center;
}

nav img {
  width: 20px;
}

#hero2 {
  height: 35vh;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  place-items: center;
  background: transparent url(../media/kunal-shinde--f0YLss50Bs-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.credit a,
.credit a:visited {
  color: #b7b7a4;
  text-decoration: none;
  border-bottom: 1px solid #b7b7a4;
}

.credit a:hover {
  border-bottom: none;
}

.credit span {
  display: block;
  padding: 1em;
}

.legal {
  color: #b7b7a4;
  font-size: x-small;
  text-align: center;
}

#main {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  place-items: center;
  align-items: start;
  grid-gap: 10px;
  padding: 0 1em;
  max-width: 1024px;
}

.card {
  color: #3c096c;
  background: #fff;
  box-shadow: 0 0.9rem 1.5rem rgba(0, 0, 0, 0.15);
  margin-top: -70px;
  z-index: 10;
  padding: 2.5rem 1.4rem;
  display: grid;
  place-items: center;
}

.card p {
  text-align: center;
}

.message {
  text-align: center;
  font-style: italic;
}

img {
  width: 100px;
}

.content {
  height: auto;
  padding: 1rem 2rem;
}

.cform {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 1em;
}

.card,
.content {
  justify-self: stretch;
}

@media only screen and (min-width: 768px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 1rem 2em;
  }
  .card p {
    text-align: left;
  }
  #hero2 {
    background-position: center -170px;
  }
}


/* 
@media (hover: hover) {
  button {
    height: 45px;
    width: auto;
    display: block;
    padding: 1em 3em;
    margin: 1em .5em;
    line-height: 0;
    border: 1px solid gold;
    background-color: #fff;
    color: #3c096c;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  button:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
    border: 1px solid #99d98c;
    color: #007f5f;
  }
} 
*/


/* Make sure to add button href back in the html. */

button {
  height: 45px;
  width: auto;
  padding: 1em 3em;
  margin: 1em .5em;
  line-height: 0;
  border: 1px solid #adb5bd;
  background-color: #fff;
  color: #adb5bd;
  text-decoration: line-through;
}

.btn,
.btn:hover {
  text-decoration: none;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient( to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 2em 0;
}


/* 
  Font Clamp  
  https://piccalil.li/tutorial/fluid-typography-with-css-clamp/
*/

h1,
h2,
h3,
p,
li {
  font-size: clamp( var(--fluid-type-min, 1rem), calc(1rem + var(--fluid-type-target, 3vw)), var(--fluid-type-max, 1.3rem));
}

h1 {
  font-family: "Zodiak-Black", serif;
  --fluid-type-min: 1.3rem;
  --fluid-type-max: 2rem;
  --fluid-type-target: 5vw;
  /*   max-width: 30ch; */
}

#herocopy {
  font-family: 'Zodiak-Black', serif;
  --fluid-type-min: 2.3rem;
  --fluid-type-max: 3rem;
  --fluid-type-target: 5vw;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  color: #fdfdfd;
  /* max-width: 60ch; */
  /* padding: 0.8em; */
}

@media only screen and (max-width: 980px) {
  #herocopy {
    align-self: start;
  }
}

h2 {
  font-family: 'Zodiak-Black', serif;
  --fluid-type-min: 1rem;
  --fluid-type-max: 1.8rem;
}

h3 {
  font-family: 'Zodiak-Black', serif;
  --fluid-type-min: 0.6rem;
  --fluid-type-max: 1rem;
}


/* h2,
h3 {
  max-width: 30ch;
} */

p,
li {
  /*   max-width: 60ch; */
  font-family: "Georgia", serif;
  line-height: 1.8;
}

li {
  max-width: 50ch;
  padding-bottom: 1em;
}


/* BASIN CONTACT FORM */


/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */

button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
  background-color: #45a049;
}


/* Add a background color and some padding around the form */

.container {
  border-radius: 5px;
  /* background-color: #fff; */
  /* padding: 20px; */
  max-width: 85vw;
}

.container p {
  max-width: 60ch;
}


/* THANK YOU PAGE */

#thanks {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 50px;
  place-items: center;
}

#ty {
  width: 700px;
}